@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


.footer{
    margin-top: 30px;
    padding-top: 10px;
    font-family: "Poppins", serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,0.2);
    .foot_desc{
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #777777;
    }
    .foot_link ul{
        display: flex;
        align-items: center;
        gap: 10px;
        list-style-type: none;
        
    }
    .foot_link ul li{
        padding: 12px 16px;
        background-color: #f9f9ff;
        transition: all .4s;
        font-size: 14px;
        &:hover{
            background-color: #f6214b;
            color: white;
        }
    }
}